@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

.section-title span {
	color: #bb8efc;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #bb8efc;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}

.cta:hover {
	color: white;
	background-color: #bb8efc;
}

.name h1 {
	font-size: 2rem;
    letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: white;
}


#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .header {
	min-height: 8vh;
	background-color: #29323c;
	transition: 0.3s ease background-color;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: #29323c; 
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}

#header .nav-list ul.active {
	left: 0%;
}

#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #bb8efc;
}


#home {
	background-image: url(home.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #29323c;
	opacity: 0.3;
	z-index: -1;
}

#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#home h1 {
	display: block;
	width: fit-content;
	font-size: 3.3rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}

#home h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: whitebl;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.9s;
}


#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

#about .col-left {
	width: 250px;
	height: 360px;
}

#about .col-right {
	width: 100%;
}

#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}

#about .col-right p {
	margin-bottom: 20px;
	text-align: justify;
}

#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}

#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}

#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 100%;
	width: 100%;
	border: 7px solid #bb8efc;
	z-index: -1;
}


#edu .edu {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

#edu .edu-schools {
	width: 100%;
}

#edu .edu-school {
	width: 90%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 12px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}

#edu .edu-school:hover {
	box-shadow: 0px 0px 5px 0 #bb8efc;
}

#edu .logo {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#edu .edu-info h1 {
	font-size: 1.7rem;
	font-weight: 500;
	margin-bottom: 5px;
	text-align: center;
}

#edu .edu-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
    margin-top: 1rem;
	text-align: center;
}


#inte .inte {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

#inte .inte-skills {
	width: 100%;
}

#inte .inte-skill {
	width: 90%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 12px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}

#inte .inte-skill:hover {
	box-shadow: 0px 0px 5px 0 #bb8efc;
}

#inte .photo {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#inte .inte-info h1 {
	font-size: 1.7rem;
	font-weight: 500;
	margin-bottom: 5px;
	text-align: center;
}

#inte .inte-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
    margin-top: 1rem;
	text-align: center;
}


#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

#contact .contact-items {
	width: 100%;
}

#contact .contact-item {
	width: 90%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 12px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #bb8efc;
}

#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact .contact-info h1 {
	font-size: 1.7rem;
	font-weight: 500;
	margin-bottom: 5px;
	text-align: center;
}

#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
    margin-top: 1rem;
	text-align: center;
}

#footer {
	background-color: #29323c;
}

#footer .footer {
	min-height: 20px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

#footer .footer-ends {
	display: flex;
	margin-bottom: 30px;
}

#footer .footer-end {
	height: 120px;
	width: 120px;
	margin: 0 7px;
}

#footer .footer-end img {
	transition: 0.3s ease filter;
}

@keyframes text_reveal {
	100% {
		color: white;
	}
}

@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	#home h1 {
		font-size: 7rem;
	}

	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid #bb8efc;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}

	#edu .edu {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#edu .edu-schools {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#edu .edu-school{
		width: 30%;
		margin: 20px;
		flex-direction: column;
	}
	#edu .edu-school .logo {
		height: 100px;
		width: 100px;
	}
	#edu .edu-school .logo img {
		object-fit: contain;
	}
	#edu .edu-school .edu-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}

	#inte .inte {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#inte .inte-skills {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#inte .inte-skill{
		width: 30%;
		margin: 10px;
		flex-direction: column;
	}
	#inte .inte-skill .photo {
		height: 100px;
		width: 100px;
	}
	#inte .inte-skill .photo img {
		object-fit: contain;
	}
	#inte .inte-skill .inte-info {
		width: 100%;
		text-align: center;
		padding-left: 20px;
	}

	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item{
		width: 30%;
		margin: 10px;
		flex-direction: column;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
}

@media only screen and (min-width: 1200px) {
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
